body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}


.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 55px;
    display: flex;
    align-items: center;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}



.container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}

h1 {
    color: #007bff;
}

.quiz-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #007bff;
}

.start-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
}

.start-btn:hover {
    background-color: #0056b3;
}


/* Footer */
footer {
    background-color: #007bff;
    padding: 10px 0;
    color: #f0f0f0;
    width: 100%;
}

footer p {
    margin: 0;
    text-align: center;
}

.Back-btn{
    z-index: 999;
    left: 10px;
    top: 10px;
    position: absolute;
}